
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio - Gimnasio</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <h1>Bienvenido al Sistema del Gimnasio</h1>
    <ul class="menu">
      <li><a href="/clientes">Clientes</a></li>
      <li><a href="/entrenadores">Entrenadores</a></li>
      <li><a href="/membresias">Membresias</a></li>
      <li><a href="/pagos">Pagos</a></li>
      <li><a href="/espacios">Espacios</a></li>
      <li><a href="/metodos-pago">Métodos de Pago</a></li>
    </ul>
  </div>
</body>
</html>
